<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sone tests">
    <test name="Test">
        <classes>
            <class name="TestClass">

            </class>
        </classes>
    </test>
    <!--<test thread-count="1" verbose="1" name="Investments" annotations="JDK" parallel="classes">-->
        <!--<classes>-->
            <!--<class name="UnitClassSet.Investment.test_IndividualUS">-->
                <!--<methods>-->
                    <!--<include name="Investment_ACH"/>-->
                    <!--<include name="Investment_Wire"/>-->
                    <!--<include name="Investment_Bitcoin"/>-->
                    <!--<include name="Investment_Ethereum"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="UnitClassSet.Investment.test_IndividualnoUS">-->
                <!--<methods>-->
                    <!--<include name="Investment_ACH"/>-->
                    <!--<include name="Investment_Wire"/>-->
                    <!--<include name="Investment_Bitcoin"/>-->
                    <!--<include name="Investment_Ethereum"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="UnitClassSet.Investment.test_IndividualUSnoAccredited">-->
                <!--<methods>-->
                    <!--<include name="Investment_ACH"/>-->
                    <!--<include name="Investment_Wire"/>-->
                    <!--<include name="Investment_Bitcoin"/>-->
                    <!--<include name="Investment_Ethereum"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="UnitClassSet.Investment.test_EntityUS">-->
                <!--<methods>-->
                    <!--<include name="Investment_ACH"/>-->
                    <!--<include name="Investment_Wire"/>-->
                    <!--<include name="Investment_Bitcoin"/>-->
                    <!--<include name="Investment_Ethereum"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="UnitClassSet.Investment.test_EntitynoUS">-->
                <!--<methods>-->
                    <!--<include name="Investment_ACH"/>-->
                    <!--<include name="Investment_Wire"/>-->
                    <!--<include name="Investment_Bitcoin"/>-->
                    <!--<include name="Investment_Ethereum"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->
</suite>